<html>
    <head>
        <title>Codejunkie++ 18</title>
    </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
    <script src = "/time_counter.js"></script>
    <style type="text/css">
        .grid{
            width:100%;
        }
        p{
            white-space: pre-wrap;
        }
        #main{
            margin-top:5%;
        }
    </style>
    <body>